.card {
  margin: auto;
  width: 100px;
}




.addcard {
  margin: auto;
}

.content {
  display: flex;
}

.debtn {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-left: auto;
}

.buttonn {
  margin-left: 8px;
}

.App {
  background-color: #C6EBC5;
  height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text {
  text-align: center;
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 500;
}