.card {
  margin: auto;
  width: 100px;
}



.addcard {
  margin: auto;
}

.content {
  display: flex;
}

.debtn {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-left: auto;
}

.buttonn {
  margin-left: 8px;
}